
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 163.6rem;
}.desktop-1-2Vd {
  box-sizing: border-box;
  background-color: #000235;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 7.2rem 22.8rem 19.101rem 15.822rem;
  width: 100%;
  overflow: hidden;
  position: relative;

  .navbar-tGw {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 15.5rem 13.4rem 0rem;
    width: calc(100% - 15.5rem);
    height: 4.8rem;

    .auto-group-mwk1-Fv7 {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1rem 1.103rem 1rem 0rem;
      height: 100%;
      display: flex;
      align-items: center;

      .anits-xZd {
        text-transform: uppercase;
        color: #ffffff;
        font-family: Outfit, 'Source Sans Pro';
        margin-right: 60.0891rem;
        font-weight: 700;
        line-height: 1.375;
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2rem;
      }
      .about-2ZV {
        font-family: Outfit, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 8.2775rem;
        font-size: 1.7rem;
        font-weight: 700;
        flex-shrink: 0;
        line-height: 1.6176470588;
        text-transform: uppercase;
        color: #ffffff;
      }
      .contact-utB {
        line-height: 1.6176470588;
        text-transform: uppercase;
        color: #ffffff;
        font-family: Outfit, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.7rem;
        font-weight: 700;
      }
    }
    .frame-35-S7R {
      border-radius: 6rem;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1rem 2.654rem 1rem 2.554rem;
      height: 100%;
      display: flex;
      align-items: center;
      background-color: #2d2779;

      .ellipse-5-8W3 {
        margin-right: 1.4rem;
        width: 1.7rem;
        height: 1.7rem;
        background-color: #9091dc;
        border-radius: 0.85rem;
        flex-shrink: 0;
      }
      .register-now-143 {
        font-family: Outfit, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1.71875;
        text-transform: uppercase;
        color: #ffffff;
      }
    }
  }
  .main-ij9 {
    flex-direction: column;
    flex-shrink: 0;
    margin: 0rem 7.713rem 7.9rem 6.278rem;
    width: calc(100% - 13.9914rem);
    align-items: center;
    display: flex;

    .auto-group-e2as-r4f {
      flex-shrink: 0;
      margin-bottom: 9.2rem;
      width: 100%;
      display: flex;
      align-items: flex-end;

      .auto-group-mym1-PaP {
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 7.7rem 0.5rem 0rem;
        display: flex;

        .welcome-to-anits-fest-2k24-hb5 {
          margin-bottom: 2.6rem;
          max-width: 38.8rem;
          font-size: 8.7rem;
          flex-shrink: 0;
          font-weight: 700;
          line-height: 1;
          text-transform: capitalize;
          color: #ffffff;
          font-family: Outfit, 'Source Sans Pro';
        }
        .unlock-your-potential-ignite-inspire-innovate-nMd {
          font-weight: 400;
          line-height: 1.5277777778;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
        }
      }
      .img-20240226-wa0015-r6b {
        vertical-align: top;
        border-radius: 1rem;
        flex-shrink: 0;
        width: 64.487rem;
        height: 31.4rem;
        object-fit: cover;
      }
    }
    .anits-official-kSs {
      letter-spacing: 0.2rem;
      text-transform: uppercase;
      border-radius: 8.3rem;
      width: calc(100% - 56.187rem);
      font-weight: 600;
      color: #ffffff;
      font-family: Outfit, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      justify-content: center;
      flex-shrink: 0;
      margin: 0rem 31.487rem 0rem 24.7rem;
      height: 7.3rem;
      font-size: 2rem;
      line-height: 1.375;
      align-items: center;
      background-color: #8d8dda;
    }
  }
  .dept-info-Nj9 {
    margin: 0rem 0rem 13.301rem 5.878rem;
    width: 118.3rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-tf4j-6f9 {
      box-sizing: border-box;
      padding: 0rem 33.8rem 11.6rem 22.4rem;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .anits-BwV {
        flex-shrink: 0;
        margin-right: 7.3rem;
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.375;
        letter-spacing: 0.2rem;
        text-transform: uppercase;
        color: #abd9d9;
        font-family: Outfit, 'Source Sans Pro';
        white-space: nowrap;
      }
      .department-fest-names-GCF {
        text-align: center;
        line-height: 1.3375;
        letter-spacing: 0.4rem;
        color: #ffffff;
        flex-shrink: 0;
        font-size: 4rem;
        font-weight: 600;
        text-transform: uppercase;
        font-family: Outfit, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .auto-group-ev9m-vXh {
      margin-bottom: 7.9011rem;
      width: 100%;
      height: 33.0989rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .testemonial-item-eyV {
        padding: 1.59rem 3.15rem 6.338rem 3.15rem;
        display: flex;
        border-radius: 2rem;
        margin-right: 8rem;
        width: 34.5rem;
        height: 100%;
        align-items: center;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.0799999982);
        flex-shrink: 0;
        box-sizing: border-box;

        .auto-group-zbfu-xzB {
          margin: 0rem 7.25rem 1.193rem 7.15rem;
          width: calc(100% - 14.4rem);
          height: 14.9097rem;
          position: relative;
          flex-shrink: 0;

          .mask-group-GV5 {
            width: 13.8rem;
            height: 13.7167rem;
            position: absolute;
            left: 0;
            top: 0;
          }
          .mask-group-1Bm {
            width: 12.7rem;
            height: 12.3rem;
            position: absolute;
            left: 0.2rem;
            top: 2.6097rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .inventum-vJj {
          font-weight: 600;
          letter-spacing: 0.2rem;
          text-transform: uppercase;
          color: #ffffff;
          white-space: nowrap;
          margin: 0rem 2.2rem 2.369rem 0rem;
          font-size: 2rem;
          line-height: 1.375;
          font-family: Outfit, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .department-of-computer-science-engineeringaimlds-z3h {
          flex-shrink: 0;
          max-width: 28.2rem;
          text-align: center;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.1900000572;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
        }
      }
      .testemonial-item-4ZM {
        align-items: center;
        display: flex;
        flex-direction: column;
        border-radius: 2rem;
        margin-right: 6.8rem;
        box-sizing: border-box;
        height: 100%;
        flex-shrink: 0;
        padding: 1.59rem 3.15rem 6.338rem 3.15rem;
        width: 34.5rem;
        background-color: rgba(255, 255, 255, 0.0799999982);

        .auto-group-9tj7-a1u {
          height: 15.5097rem;
          position: relative;
          flex-shrink: 0;
          margin: 0rem 7.25rem 0.7rem 6.35rem;
          width: calc(100% - 13.6rem);

          .mask-group-5zF {
            width: 13.8rem;
            height: 13.7167rem;
            position: absolute;
            left: 0.8rem;
            top: 0;
          }
          .mask-group-EMM {
            top: 2.6097rem;
            object-fit: contain;
            vertical-align: top;
            width: 12.7rem;
            height: 11.8rem;
            position: absolute;
            left: 1.4rem;
          }
        }
        .cursors-LQP {
          letter-spacing: 0.2rem;
          margin: 0rem 3.4rem 2.261rem 0rem;
          font-weight: 600;
          line-height: 1.375;
          font-family: Outfit, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2rem;
          text-transform: uppercase;
          color: #ffffff;
        }
        .department-of-computer-science-engineering-bbD {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.1900000572;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 28.2rem;
          text-align: center;
        }
      }
      .testemonial-item-tKR {
        flex-shrink: 0;
        width: 34.5rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 1.59rem 5.5rem 6.338rem 5.5rem;
        background-color: rgba(255, 255, 255, 0.0799999982);
        border-radius: 2rem;

        .auto-group-p6m5-ohH {
          width: calc(100% - 8.2rem);
          height: 15.5097rem;
          position: relative;
          flex-shrink: 0;
          margin: 0rem 4.9rem 0.593rem 3.3rem;

          .mask-group-7xs {
            position: absolute;
            left: 1.5rem;
            top: 0;
            width: 13.8rem;
            height: 13.7167rem;
          }
          .mask-group-4t7 {
            top: 2.0097rem;
            object-fit: contain;
            vertical-align: top;
            width: 13.3rem;
            height: 13.5rem;
            position: absolute;
            left: 0;
          }
        }
        .radian-oao {
          font-size: 2rem;
          line-height: 1.375;
          letter-spacing: 0.2rem;
          color: #ffffff;
          flex-shrink: 0;
          margin: 0rem 5.5rem 2.369rem 0rem;
          text-transform: uppercase;
          font-family: Outfit, 'Source Sans Pro';
          white-space: nowrap;
          font-weight: 600;
        }
        .department-of-information-technology-saf {
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 23.5rem;
          text-align: center;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.1900000572;
          color: #ffffff;
        }
      }
    }
    .auto-group-ubod-Apf {
      height: 72.7989rem;
      position: relative;
      flex-shrink: 0;
      width: 100%;

      .testemonial-item-7zo {
        top: 0;
        align-items: center;
        display: flex;
        border-radius: 2rem;
        padding: 1.59rem 3.15rem 6.338rem 3.15rem;
        height: 33.0989rem;
        left: 0;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.0799999982);
        box-sizing: border-box;
        width: 34.5rem;
        position: absolute;

        .mask-group-DY3 {
          height: 13.7167rem;
          flex-shrink: 0;
          margin: 0rem 7.25rem 2.393rem 7.15rem;
          width: calc(100% - 14.4rem);
        }
        .elektra-YqD {
          font-family: Outfit, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0rem 2.361rem 0.8rem;
          font-weight: 600;
          line-height: 1.375;
          text-transform: uppercase;
          color: #ffffff;
          font-size: 2rem;
          letter-spacing: 0.2rem;
        }
        .department-of-computer-science-engineeringaimlds-qZR {
          font-weight: 400;
          line-height: 1.1900000572;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 28.2rem;
          text-align: center;
          font-size: 1.6rem;
        }
      }
      .testemonial-item-LWB {
        background-color: rgba(255, 255, 255, 0.0799999982);
        position: absolute;
        left: 16rem;
        top: 39.7rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 2rem;
        box-sizing: border-box;
        padding: 1.59rem 3.15rem 6.338rem 3.15rem;
        width: 34.5rem;
        height: 33.0989rem;

        .mask-group-1cK {
          height: 13.7167rem;
          flex-shrink: 0;
          margin: 0rem 7.25rem 2.393rem 7.15rem;
          width: calc(100% - 14.4rem);
        }
        .chem-flare-xGf {
          color: #ffffff;
          font-family: Outfit, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2rem;
          font-weight: 600;
          letter-spacing: 0.2rem;
          margin-bottom: 2.3611rem;
          line-height: 1.375;
          text-transform: uppercase;
        }
        .department-of-computer-science-engineeringaimlds-4Kh {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.1900000572;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 28.2rem;
          text-align: center;
        }
      }
      .testemonial-item-yBm {
        box-sizing: border-box;
        padding: 1.59rem 3.15rem 6.338rem 3.15rem;
        height: 33.0989rem;
        top: 39.7rem;
        align-items: center;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.0799999982);
        width: 34.5rem;
        position: absolute;
        left: 70rem;
        display: flex;
        border-radius: 2rem;

        .auto-group-znxo-Ggf {
          height: 15.0097rem;
          position: relative;
          flex-shrink: 0;
          margin: 0rem 7.25rem 1.1rem 6.15rem;
          width: calc(100% - 13.4rem);

          .mask-group-CaK {
            width: 13.8rem;
            height: 13.7167rem;
            position: absolute;
            left: 1rem;
            top: 0;
          }
          .mask-group-9kT {
            width: 13.3rem;
            height: 13.5rem;
            position: absolute;
            left: 0;
            top: 1.5097rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .vinirmithi-SzT {
          margin: 0rem 1.5rem 2.361rem 0rem;
          letter-spacing: 0.2rem;
          font-family: Outfit, 'Source Sans Pro';
          color: #ffffff;
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2rem;
          font-weight: 600;
          line-height: 1.375;
          text-transform: uppercase;
        }
        .department-of-computer-science-engineeringaimlds-Mbd {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.1900000572;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 28.2rem;
          text-align: center;
        }
      }
      .testemonial-item-2Ss {
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.0799999982);
        border-radius: 2rem;
        padding: 1.59rem 3.15rem 6.338rem 3.15rem;
        width: 34.5rem;
        position: absolute;
        align-items: center;
        display: flex;
        box-sizing: border-box;
        height: 33.0989rem;
        left: 42.5rem;
        top: 0;

        .auto-group-rhps-8ko {
          margin: 0rem 5.85rem 2.386rem 7.15rem;
          width: calc(100% - 13rem);
          height: 13.7167rem;
          position: relative;
          flex-shrink: 0;

          .mask-group-TYB {
            position: absolute;
            left: 0;
            top: 0;
            width: 13.8rem;
            height: 13.7167rem;
          }
          .mask-group-QyD {
            vertical-align: top;
            width: 13.3rem;
            height: 13.5rem;
            position: absolute;
            left: 1.9rem;
            top: 0.2097rem;
            object-fit: contain;
          }
        }
        .arc-K4b {
          line-height: 1.375;
          letter-spacing: 0.2rem;
          text-transform: uppercase;
          font-family: Outfit, 'Source Sans Pro';
          margin: 0rem 1rem 2.369rem 0rem;
          font-weight: 600;
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2rem;
          color: #ffffff;
        }
        .department-of-computer-science-engineeringaimlds-2zb {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.1900000572;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 28.2rem;
          text-align: center;
        }
      }
      .testemonial-item-wbm {
        position: absolute;
        left: 83.8rem;
        top: 0;
        align-items: center;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.0799999982);
        box-sizing: border-box;
        padding: 1.59rem 3.15rem 6.338rem 3.15rem;
        display: flex;
        border-radius: 2rem;
        width: 34.5rem;
        height: 33.0989rem;

        .auto-group-xq8o-FsM {
          margin: 0rem 7.05rem 2.386rem 7.15rem;
          width: calc(100% - 14.2rem);
          height: 13.7167rem;
          position: relative;
          flex-shrink: 0;

          .mask-group-PTm {
            top: 0;
            width: 13.8rem;
            height: 13.7167rem;
            position: absolute;
            left: 0;
          }
          .mask-group-YLf {
            object-fit: contain;
            vertical-align: top;
            width: 13.3rem;
            height: 13.5rem;
            position: absolute;
            left: 0.7rem;
            top: 0.2097rem;
          }
        }
        .ignition-Fks {
          white-space: nowrap;
          flex-shrink: 0;
          font-family: Outfit, 'Source Sans Pro';
          margin: 0rem 0rem 2.369rem 1.2rem;
          font-size: 2rem;
          font-weight: 600;
          line-height: 1.375;
          letter-spacing: 0.2rem;
          text-transform: uppercase;
          color: #ffffff;
        }
        .department-of-computer-science-engineeringaimlds-NKh {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.1900000572;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 28.2rem;
          text-align: center;
        }
      }
      .mask-group-Esh {
        left: 11.6rem;
        top: 3.3rem;
        object-fit: contain;
        vertical-align: top;
        width: 13.3711rem;
        height: 13.0686rem;
        position: absolute;
      }
      .mask-group-Nyu {
        height: 12.6rem;
        position: absolute;
        left: 27.9rem;
        top: 43.6rem;
        object-fit: contain;
        vertical-align: top;
        width: 12.2rem;
      }
    }
  }
  .eventclick-gDu {
    margin: 0rem 0rem 22.6rem 12.578rem;
    width: 112.4rem;
    flex-shrink: 0;

    .click-on-each-department-to-know-more-p5D {
      font-weight: 600;
      line-height: 1.3375;
      letter-spacing: 0.4rem;
      text-transform: uppercase;
      color: #ffffff;
      margin-bottom: 7.6rem;
      width: 100%;
      text-align: center;
      font-size: 4rem;
      font-family: Outfit, 'Source Sans Pro';
      white-space: nowrap;
    }
    .auto-group-kbjd-heo {
      margin-left: 7.3rem;
      height: 39.6rem;
      display: flex;
      align-items: flex-start;

      .buttons-ScP {
        margin: 0.4rem 3.3rem 0rem 0rem;
        width: 18.4rem;
        flex-shrink: 0;

        .auto-group-nwd5-nAT {
          box-sizing: border-box;
          padding-bottom: 1.9rem;
          width: 100%;
          display: flex;
          flex-direction: column;

          .auto-group-tnsr-iZu {
            margin: 0rem 1.5rem 2.3rem 0.3rem;
            width: calc(100% - 1.8rem);
            height: 2.8rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .radiobutton-Rm9 {
              height: calc(100% - 0.6rem);
              border-radius: 1.2rem;
              flex-shrink: 0;
              margin: 0.2rem 2.9rem 0.4rem 0rem;
              box-sizing: border-box;
              padding: 0.2rem 0rem 0rem 0.2rem;
              width: 2.2rem;

              .container-HYT {
                border: solid 0.2rem #0a7aff;
                border-radius: 1rem;
                box-sizing: border-box;
                padding: 0.5rem;
                width: 100%;
                height: 100%;
                overflow: hidden;
                position: relative;

                .circle-Ref {
                  width: 100%;
                  height: 1rem;
                  background-color: #0a7aff;
                  border-radius: 0.5rem;
                }
              }
            }
            .inventum-JTZ {
              font-family: Outfit, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 400;
              letter-spacing: 0.2rem;
              color: #abd9d9;
              line-height: 1.375;
              text-transform: uppercase;
            }
          }
          .auto-group-wffd-pgo {
            margin: 0rem 2.6rem 2.1rem 0.3rem;
            width: calc(100% - 2.9rem);
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .radiobutton-AEs {
              flex-shrink: 0;
              margin-right: 2.7rem;
              box-sizing: border-box;
              padding: 0.2rem;
              width: 2.4rem;
              height: 2.4rem;
              border-radius: 1rem;

              .container-tRm {
                height: 100%;
                overflow: hidden;
                position: relative;
                border: solid 0.2rem #636366;
                box-sizing: border-box;
                border-radius: 1rem;
                width: 100%;
              }
            }
            .cursors-RRh {
              flex-shrink: 0;
              font-size: 2rem;
              text-transform: uppercase;
              color: #abd9d9;
              white-space: nowrap;
              font-weight: 400;
              line-height: 1.375;
              letter-spacing: 0.2rem;
              font-family: Outfit, 'Source Sans Pro';
            }
          }
          .auto-group-pkss-jSP {
            width: calc(100% - 4.1rem);
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;
            margin: 0rem 4.1rem 1.6rem 0rem;

            .radiobutton-GBR {
              margin-right: 3.1rem;
              box-sizing: border-box;
              padding: 0.2rem;
              width: 2.4rem;
              height: 2.4rem;
              border-radius: 1rem;
              flex-shrink: 0;

              .container-oh9 {
                overflow: hidden;
                position: relative;
                border: solid 0.2rem #636366;
                box-sizing: border-box;
                border-radius: 1rem;
                width: 100%;
                height: 100%;
              }
            }
            .radian-x4F {
              text-transform: uppercase;
              color: #abd9d9;
              font-family: Outfit, 'Source Sans Pro';
              line-height: 1.375;
              letter-spacing: 0.2rem;
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 0.3rem;
              font-size: 2rem;
              font-weight: 400;
            }
          }
          .auto-group-5glx-UYP {
            margin: 0rem 2.9rem 2.3rem 0rem;
            width: calc(100% - 2.9rem);
            height: 2.8rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .radiobutton-bd1 {
              box-sizing: border-box;
              padding: 0.2rem;
              width: 2.4rem;
              height: calc(100% - 0.4rem);
              border-radius: 1rem;
              flex-shrink: 0;
              margin: 0.2rem 3.2rem 0.2rem 0rem;

              .container-ixX {
                border-radius: 1rem;
                width: 100%;
                height: 100%;
                overflow: hidden;
                position: relative;
                border: solid 0.2rem #636366;
                box-sizing: border-box;
              }
            }
            .elektra-pEs {
              letter-spacing: 0.2rem;
              text-transform: uppercase;
              font-family: Outfit, 'Source Sans Pro';
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 400;
              white-space: nowrap;
              line-height: 1.375;
              color: #abd9d9;
            }
          }
          .auto-group-y1dh-jcj {
            margin: 0rem 8.4rem 1.5rem 0rem;
            width: calc(100% - 8.4rem);
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .radiobutton-UKR {
              box-sizing: border-box;
              padding: 0.2rem;
              width: 2.4rem;
              height: 2.4rem;
              border-radius: 1rem;
              flex-shrink: 0;
              margin-right: 3rem;

              .container-cgX {
                position: relative;
                border: solid 0.2rem #636366;
                box-sizing: border-box;
                border-radius: 1rem;
                width: 100%;
                height: 100%;
                overflow: hidden;
              }
            }
            .arc-Me7 {
              text-transform: uppercase;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 400;
              letter-spacing: 0.2rem;
              white-space: nowrap;
              line-height: 1.375;
              color: #abd9d9;
              font-family: Outfit, 'Source Sans Pro';
            }
          }
          .auto-group-79e7-VVR {
            margin-right: 2.9rem;
            width: calc(100% - 2.9rem);
            display: flex;
            align-items: flex-end;
            flex-shrink: 0;

            .radiobutton-drX {
              box-sizing: border-box;
              padding: 0.2rem;
              width: 2.4rem;
              height: 2.4rem;
              border-radius: 1rem;
              flex-shrink: 0;
              margin-right: 2.7rem;

              .container-YyV {
                border-radius: 1rem;
                width: 100%;
                height: 100%;
                overflow: hidden;
                position: relative;
                border: solid 0.2rem #636366;
                box-sizing: border-box;
              }
            }
            .ignition-tnT {
              margin-bottom: 0.2rem;
              font-weight: 400;
              letter-spacing: 0.2rem;
              text-transform: uppercase;
              font-family: Outfit, 'Source Sans Pro';
              font-size: 2rem;
              line-height: 1.375;
              color: #abd9d9;
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .auto-group-o57m-cCf {
          margin-bottom: 2.5rem;
          width: 100%;
          display: flex;
          align-items: flex-end;

          .radiobutton-ZNo {
            box-sizing: border-box;
            padding: 0.2rem;
            width: 2.4rem;
            height: 2.4rem;
            border-radius: 1rem;
            flex-shrink: 0;
            margin-right: 2.5rem;

            .container-gCX {
              overflow: hidden;
              position: relative;
              border: solid 0.2rem #636366;
              box-sizing: border-box;
              border-radius: 1rem;
              width: 100%;
              height: 100%;
            }
          }
          .chemflare-21V {
            font-weight: 400;
            letter-spacing: 0.2rem;
            text-transform: uppercase;
            color: #abd9d9;
            font-family: Outfit, 'Source Sans Pro';
            font-size: 2rem;
            line-height: 1.375;
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.2rem;
          }
        }
        .auto-group-acy5-iuu {
          margin-right: 1rem;
          width: calc(100% - 1rem);
          display: flex;
          align-items: flex-start;

          .radiobutton-4Ty {
            height: 2.4rem;
            border-radius: 1rem;
            flex-shrink: 0;
            margin-right: 2.5rem;
            box-sizing: border-box;
            padding: 0.2rem;
            width: 2.4rem;

            .container-ahD {
              border: solid 0.2rem #636366;
              box-sizing: border-box;
              border-radius: 1rem;
              width: 100%;
              height: 100%;
              overflow: hidden;
              position: relative;
            }
          }
          .vinirmithi-Jt7 {
            font-size: 2rem;
            line-height: 1.375;
            white-space: nowrap;
            font-weight: 400;
            letter-spacing: 0.2rem;
            text-transform: uppercase;
            color: #abd9d9;
            font-family: Outfit, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
      }
      .auto-group-y6lp-dQb {
        flex-shrink: 0;
        margin-right: 6.6rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .mask-group-Nd5 {
          margin-bottom: 5.2rem;
          width: 23.7rem;
          height: 17.2rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .mask-group-7Km {
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 23.7rem;
          height: 17.2rem;
        }
      }
      .auto-group-bqys-dJ7 {
        margin-right: 5.7rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .mask-group-ycs {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 5.2rem;
          width: 23.7rem;
          height: 17.2rem;
          position: relative;
        }
        .mask-group-iKZ {
          vertical-align: top;
          flex-shrink: 0;
          width: 23.7rem;
          height: 17.2rem;
          position: relative;
          object-fit: contain;
        }
      }
      .auto-group-nyuy-dhR {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        height: 100%;

        .mask-group-mYj {
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 5.2rem;
          width: 23.7rem;
          height: 17.2rem;
          position: relative;
          object-fit: contain;
        }
        .mask-group-WmD {
          width: 23.7rem;
          height: 17.2rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
  }
  .contact-4Gw {
    width: calc(100% - 33.8784rem);
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0rem 10.6rem 0rem 23.278rem;

    .contact-us-am5 {
      font-weight: 700;
      font-family: Outfit, 'Source Sans Pro';
      margin: 0rem 2.7rem 9rem 0rem;
      text-align: center;
      font-size: 4rem;
      line-height: 1.3375;
      letter-spacing: 0.4rem;
      text-transform: uppercase;
      color: #ffffff;
      white-space: nowrap;
      flex-shrink: 0;
    }
    .auto-group-q6um-3uZ {
      align-items: center;
      flex-shrink: 0;
      width: 100%;
      height: 33.0989rem;
      display: flex;

      .testemonial-item-bRH {
        flex-shrink: 0;
        margin-right: 22.1rem;
        width: 34.5rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 1.59rem 8.7rem 6.938rem 10.1rem;
        background-color: rgba(255, 255, 255, 0.0799999982);
        border-radius: 2rem;

        .auto-group-62o1-WHM {
          height: 14.9097rem;
          position: relative;
          flex-shrink: 0;
          margin: 0rem 1.5rem 1.2rem 0rem;
          width: 13.8rem;

          .mask-group-EUF {
            left: 0;
            top: 0;
            width: 13.8rem;
            height: 13.7167rem;
            position: absolute;
          }
          .mask-group-ywd {
            left: 0.4rem;
            top: 2.6097rem;
            object-fit: contain;
            vertical-align: top;
            width: 13.4rem;
            height: 12.3rem;
            position: absolute;
          }
        }
        .ch-sai-sriya-Wgf {
          letter-spacing: 0.2rem;
          color: #ffffff;
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2rem;
          font-weight: 700;
          text-transform: uppercase;
          font-family: Outfit, 'Source Sans Pro';
          margin-bottom: 1.7611rem;
          line-height: 1.375;
        }
        .csd-a21126551012-bi7 {
          max-width: 11.2rem;
          text-align: center;
          font-weight: 700;
          flex-shrink: 0;
          margin-right: 1.4rem;
          font-size: 1.6rem;
          line-height: 1.1900000572;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
        }
      }
      .testemonial-item-gzT {
        align-items: center;
        background-color: rgba(255, 255, 255, 0.0799999982);
        flex-shrink: 0;
        flex-direction: column;
        border-radius: 2rem;
        box-sizing: border-box;
        padding: 1.59rem 6.5rem 7.138rem 5.8rem;
        width: 34.5rem;
        height: 100%;
        display: flex;

        .auto-group-r8r3-22j {
          width: calc(100% - 8.2rem);
          height: 14.9097rem;
          position: relative;
          flex-shrink: 0;
          margin: 0rem 3.9rem 1.2rem 4.3rem;

          .mask-group-kUX {
            width: 13.8rem;
            height: 13.7167rem;
            position: absolute;
            left: 0.2rem;
            top: 0;
          }
          .mask-group-hPm {
            object-fit: contain;
            vertical-align: top;
            width: 13.4rem;
            height: 12.3rem;
            position: absolute;
            left: 0;
            top: 2.6097rem;
          }
        }
        .t-venkata-viswas-EuV {
          font-weight: 700;
          letter-spacing: 0.2rem;
          color: #ffffff;
          flex-shrink: 0;
          white-space: nowrap;
          margin-bottom: 1.5611rem;
          font-size: 2rem;
          line-height: 1.375;
          text-transform: uppercase;
          font-family: Outfit, 'Source Sans Pro';
        }
        .csd-a21126551059-8zs {
          font-size: 1.6rem;
          font-weight: 700;
          color: #ffffff;
          flex-shrink: 0;
          margin-left: 0.7rem;
          max-width: 11.2rem;
          font-family: Roboto, 'Source Sans Pro';
          text-align: center;
          line-height: 1.1900000572;
        }
      }
    }
  }
}
